<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  <!-- Barra di Menu -->
  <nav class="menu-bar">
  
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/transactions">Transazioni</a></li>
      <li><a href="/investments">Investimenti</a></li>
      <li><a href="/settings">Impostazioni</a></li>
    </ul>
    <div class="lingua">
    <button>ITA</button>
    <button>ENG</button>
  </div>
  <div class="BankU-Logo">
    <img src="assets/Logo.png" alt="BankU Logo" />
  </div>
  
  <!-- Icona Hamburger -->
    <div class="hamburger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
   <!-- Header -->
   
   <header class="header">
    <div class="text-container">
    <h1>Welcome back, {{ userName }}</h1>
    <p>Last access: {{ lastLogin }}</p>
    </div>
   
  </header>
  
    
    <!-- Account Summary -->
    <div class ="account-summary">
      <h2>Balance after pending:</h2>
      <button 
      class="account-button" 
      [class.blur-effect]="isBlurred" 
      (click)="toggleBlur($event)">
      {{ accountBalance }}€
    </button>
    </div>
  <div class ="dashboard">
  <!--Transazioni Recenti-->
  <div class="recent-transactions">
    <h2>Transazioni Recenti</h2>
    <ul *ngIf="recentTransactions && recentTransactions.length > 0; else noTransactions">
  <li *ngFor="let transaction of recentTransactions">
  {{ transaction.date }} - {{ transaction.description }}: € {{ transaction.amount }}
  </li>
  </ul>
  <ng-template #noTransactions>
  <p>Nessuna transazione recente disponibile.</p>
  </ng-template>
  </div>
  
  <!-- Quick Actions -->
    <section class="quick-actions">
      <h2>Azioni Rapide</h2>
      <button (click)="transferMoney()">Bonifico</button>
      <button (click)="cordinate_conto()">Cordinate conto</button>
      <button (click)="Aggiungi_fondi()">Aggiungi Fondi</button>
      <button (click)="Altro()">Altro</button>
  
    </section>
  </div>
    
  <main class="personal-area"></main>
  
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  
  
  