<div class="login-container">
  <h2>Accesso Area Clienti</h2>
  <form (ngSubmit)="onSubmit()"> <!-- ngSubmit collega il form al metodo -->
    <div class="form-group">
      <label for="email">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="credentials.username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <div class="password-container">
        <!-- Input per la password -->
        <input [type]="isPasswordVisible ? 'text' : 'password'" id="password" name="password" [(ngModel)]="credentials.password" required>
        
        <!-- Bottone con icona per alternare la visibilità della password -->
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()" aria-label="Toggle password visibility">
          <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </div>
    </div>
      <!-- Pulsante di submit per inviare il form -->
    <button type="submit" class="submit-button">Accedi</button>
  </form>

  <div class="forgot-password">
    <a href="#">Password dimenticata?</a>
  </div>

  <div class="footer-text">
    Non hai un account? <a href="/register">Registrati qui</a>
  </div>
</div>