<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BankU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
        <li class="nav-item">
          <a class="nav-link active" [routerLink] ="['/about_us']" >About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink] ="['/contacts']" >Contacts</a>
        </li>
      </ul>
      <form class="d-flex search-form">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <div class="dropdown">
        <button class="btn btn-secondary" (click)="toggleMenu()">
          ☰
        </button>
        <div class="menu-panel" [class.open]="isMenuOpen">
          <button class="close-btn" (click)="toggleMenu()">
            <i class="fas fa-arrow-right"></i>
          </button>
          <!-- Mostra voci diverse in base allo stato di autenticazione -->
          <ng-container *ngIf="!isAuthenticated; else profileMenu">
            <a class="dropdown-item" [routerLink]="'/login'">Login</a>
            <a class="dropdown-item" [routerLink]="'/register'">Sign In</a>
          </ng-container>
          <ng-template #profileMenu>
            <a class="dropdown-item" [routerLink]="'/profile'">Profilo</a>
            <a class="dropdown-item" [routerLink]="'/settings'">Impostazioni</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>