.card-link {
    font-size: 1rem;
    color: var(--accent-color); /* Usa il colore principale */
    text-decoration: none;
    cursor: pointer;
  }
  
  .card-link:hover {
    text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
  }