<div class="register-container">
    <h1>Registrati</h1>
    <form>
      <div class="form-group">
        <label for="username">Nome utente</label>
        <input type="text" id="username" placeholder="Inserisci il tuo nome utente" required />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Inserisci la tua email" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Inserisci la tua password" required />
      </div>
      <div class="form-group">
        <label for="confirm-password">Conferma Password</label>
        <input type="password" id="confirm-password" placeholder="Conferma la tua password" required />
      </div>
      <button type="submit" class="register-button">Registrati</button>
     
    </form>
  </div>
  <router-outlet></router-outlet>